<header class="site-header" id="top">
  <div class="site-header__inner">
    <a class="brand" href="/">
      <img class="brand__mark" src="/assets/img/pigeon-64.png" alt="" width="32" height="32">
      <span class="brand__name">The Privacy Cookbook</span>
    </a>
    <div class="site-header__actions">
      <a class="header-link" href="/search/">Search</a>
      <button class="theme-toggle" id="theme-toggle" type="button" hidden aria-pressed="false">Dark</button>
      <a class="header-link header-link--menu" href="#site-nav">Menu</a>
    </div>
  </div>
</header>
